﻿<section class="content user-index">
    <div class="wrap">
        <h1 class="welcome">Твоё <span class="fav"><i class="icon icon-star-large"></i>избранное</span> с лучшим поиском.
                <br>
            Везде, где есть интернет.</h1>

        <form id="tagSearch" class="tag-search" ng-submit="submit()">
                <ul class="control" ng-show="isAuthentificate">
                    <li ng-repeat="searchType in $searchType.searchTypes" ng-class="{active : $searchType.selected.type == searchType.type}"
                        ng-click="changeSearchType(searchType)">
                        <i class="icon" ng-class="{ 'icon-star': searchType.type == 'own', 'icon-menu': searchType.type == 'general' }"></i>{{searchType.title}}</li>
                </ul>
            <div class="form">
                <i class="icon icon-tag-large"></i>
                <ul id="tags"></ul>
                <i class="icon icon-search" ng-click="submit()"></i>
            </div>
        </form>
    </div>
        <div class="promo" ng-if="!isAuthentificate">
            <div class="line"></div>
            <div class="wrap">

                <div class="promo-block promo-block-1">
                    <div class="promo-block-logo"></div>
                    <h3>Нашли интересный сайт?</h3>
                    <p><a href="#" class="underlined">Добавьте ему тег</a>, чтобы потом с лёгкостью найти его вновь.</p>
                </div>

                <div class="promo-block promo-block-2">
                    <div class="promo-block-logo"></div>
                    <h3><a href="#" class="underlined">Зарегистрируйтесь</a></h3>
                    <p>И сформируйте личную коллекцию избранных сайтов.</p>
                </div>

                <div class="promo-block promo-block-3">
                    <div class="promo-block-logo"></div>
                    <p>Сохраняйте доступ к своей коллекции с любого компьютера, смартфона или планшета!</p>
                </div>

            </div>
        </div>

</section>

