﻿@model FsWeb.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Регистрация";
    if (@ViewData["ProviderDisplayName"] == "Google")
    {
        Model.Email = Model.UserName;
    }
}
<div class="wrap">
    <hgroup class="title">
        <p style="color:red">Просим прощения за временный вид страницы.</p>
        <h1>@ViewBag.Title.</h1>
        <h2>Привязываем ваш @ViewData["ProviderDisplayName"] аккаунт.</h2>
    </hgroup>

            <form class="modal-form" action="/Account/ExternalLoginConfirmation" name="externalLoginConfirmationForm" style="">
                @Html.AntiForgeryToken()
                <ul style="list-style: none;">
                    <li>Ваш логин:</li>
                    <li>
                        <input class="input" name="UserName" type="text" required value="@Model.UserName" placeholder="Ваш будущий логин" />
                    </li>
                    <li>Ваш email:
                    </li>
                    <li>
                        <input class="input" name="Email" type="email" value='@Model.Email' placeholder="Ваш email" /></li>
                    <input type="hidden" name="ExternalLoginData" value="@Model.ExternalLoginData" />
                    <li>
                        <div class="checkbox">
                            <i class="icon icon-checkbox"></i>запомнить меня
                                                    <input ng-model="user.rememberMe" name="remember_me" type="checkbox" style="display: none">
                        </div>
                    </li>
                    <li>
                        <input class="submit button" type="submit" ng-show="externalLoginConfirmationForm.$valid" value="зарегистрироваться" /></li>
                </ul>
            </form>
</div>


