﻿@{
    ViewBag.Title = "Не получилось войти через OAuth2";
}
<div class="wrap">
    <hgroup>
        <h1>@ViewBag.Title.</h1>
        <h2>Не удалось войти с помощью данного сайта.</h2>
    </hgroup>
    <br />
    <br />
</div>
