﻿@model FsWeb.Models.LocalPasswordModel

<h2>Manage</h2>
<text>@ViewData["Message"]</text>
@Html.ValidationSummary()
<form id="ChangePasswordForm" method="post" name="changePasswordForm" action="@Url.Action("Manage","Account")">
    @Html.AntiForgeryToken()
    <input  value="" type="password" required name="OldPassword" placeholder="Старый пароль"/> @*ng-model="manage.OldPass"*@
    <input  value="" type="password" required name="NewPassword" placeholder="Новый пароль"/> 
    <input  value="" type="password" required name="ConfirmPassword" placeholder="Подтвердение пароля"/> 
    <button>Задать пароль</button>
</form>